<div class="page-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-sm-8">
        <h4 class="page-title">Roles & Permissions</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <a href="javascript:void(0);" class="btn btn-primary btn-block" data-toggle="modal"
          data-target="#exampleModal"><i class="fa fa-plus"></i> Add Roles</a>
        <div class="roles-menu">
          <ul>
            <li class="active" *ngFor="let role of roles; let i = index" [class.active]="i === selectedRoleIndex"
              (click)="selectedRoleIndex = i">
              <a (click)="onSelectRole(role)" href="javascript:void(0);">{{ role.name }}</a>
              <div class="role-action">
                <a href="" role="button" class="a-noline" data-toggle="modal" data-target="#ModifGroup">
                  <span href="" class="button" (click)="editRole(i)">
                    <i class="fa fa-pencil"></i>
                  </span>
                </a>
                <a href="#" data-toggle="modal" data-target="#delete_role">
                  <span class="button" (click)="deleteRole(i)">
                    <i class="fa fa-trash"></i>
                  </span>
                </a>

              </div>

            </li>
          </ul>
        </div>
      </div>

      <div class="col-sm-9 col-md-9 col-lg-9 col-xl-10">

        <div class="container-fluid bg-gray" id="accordion-style-1">
          <div class="container">

            <div class="row">
              <div class="col-12">
                <h1 class="text-green mb-4 text-center">Affectation des modules et permission au roles</h1>
              </div>

                            <div class="col-12">
                <div class="accordion" id="accordionExample">
                  @for (module of modulePermission; track module.label; let i = $index) {
                  <div class="card">
                    <div class="card-header" id="heading{{ i }}">
                      <h5 class="mb-0" (click)="selectLabelModule(module)">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                          [attr.data-target]="'#collapse' + i" aria-expanded="false"
                          [attr.aria-controls]="'collapse' + i"
                          >
                          <i class="fa fa-angle-double-right mr-3"></i>
                          {{ module.label }}
                        </button>

                      </h5>
                    </div>

                    <div id="collapse{{ i }}" class="collapse fade" [attr.aria-labelledby]="'heading' + i"
                      data-parent="#accordionExample">

                      <ng-container *ngFor="let sub of module.subModules;let j=index">
                        <div class="card-body" (click)="selectDescriptionSub(sub)">
                          <label class="accordion-perso-label h5" for="check11" >
                            <div>{{ sub.description }} </div>
                            <p></p>
                            <!-- <div *ngIf="selectedRole; else noData">
                               <ng-container
                                *ngFor="let action of selectedRole.permissions?.[0]?.actions; trackBy:trackByAction">
                                <div class=" flex" style="display: inline-block;gap: 10px;">
                                  <div class="form-check  flex-column-inline  mb-2">
                                    <input type="checkbox" class="form-check-input mb-1" [disabled]="action.disabled"
                                      [(ngModel)]="action.selected" (change)="onActionChange(sub, action)"
                                      [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label">{{
                                      extractAction(action.label)
                                      }}</label>
                                  </div>

                                </div>
                              </ng-container>
                            </div> -->

                            <ng-container *ngIf="selectedRole; else defaultActions">
                              <ng-container
                                *ngFor="let action of selectedRole.permissions?.[0]?.actions; trackBy:trackByAction">
                                <div class=" flex" style="display: inline-block;gap: 10px;">
                                  <div class="form-check  flex-column-inline  mb-2">
                                    <input type="checkbox" class="form-check-input mb-1" 
                                      [(ngModel)]="action.selected" (change)="onActionChange(sub, action)"
                                      [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label">{{
                                      extractAction(action.label)
                                      }}</label>
                                  </div>

                                </div>
                              </ng-container>

                            </ng-container>
                            
                            <ng-template #defaultActions>
                               <ng-container *ngFor="let action of sub.actions; trackBy:trackByAction">
                                <div class=" flex" style="display: inline-block;gap: 10px;">
                                  <div class="form-check  flex-column-inline  mb-2">
                                    <input type="checkbox" class="form-check-input mb-1" 
                                      [(ngModel)]="action.selected" (change)="onActionChange(sub, action)"
                                      [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label">{{
                                      extractAction(action.label)
                                      }}</label>
                                  </div>

                                </div>
                              </ng-container>

                            </ng-template>
                          
                          </label>
                        </div>
                      </ng-container>

                    </div>
                  </div>
                  }
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>

    </div>
  </div>

</div>










<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Créer un rôle </h1>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="RoleForm">
          <div class="form-group">
            <label for="exampleInputEmail1">Libele</label>
            <input type="text" class="form-control" required name="ng-container" formControlName="name"
              placeholder="Ex: ADMIN">
            <div *ngIf="f['name'].touched && f['name'].invalid" class="text-danger mt-1">
              <div *ngIf="f['name'].errors?.['required']">Le nom est requis.</div>

            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Description</label>
            <textarea id="roleDesc" class="form-control" rows="2" formControlName="description"></textarea>
            <div *ngIf="f['description'].touched && f['description'].invalid" class="text-danger mt-1">
              <div *ngIf="f['description'].errors?.['required']">La description est requise.</div>

            </div>
          </div>
          <div class="container-fluid bg-gray" id="accordion-style-1">
            <div class="container">

              <div class="row">
                <div class="col-12">
                  <h1 class="text-green mb-4 text-center">Affectation des modules et permission au roles</h1>
                </div>
                <div class="col-12">
                  <div class="accordion" id="accordionExample">
                    @for (module of modulePermission; track module.label; let i = $index) {
                    <div class="card">
                      <div class="card-header" id="heading{{ i }}">
                        <h5 class="mb-0">
                          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                            [attr.data-target]="'#collapse' + i" aria-expanded="false"
                            [attr.aria-controls]="'collapse' + i">
                            <i class="fa fa-angle-double-right mr-3"></i>
                            {{ module.label }}
                          </button>

                        </h5>
                      </div>

                      <div id="collapse{{ i }}" class="collapse fade" [attr.aria-labelledby]="'heading' + i"
                        data-parent="#accordionExample">

                        <ng-container *ngFor="let sub of module.subModules;let j=index">
                          <div class="card-body">
                            <label class="accordion-perso-label h5" for="check11">
                              <div>{{ sub.description }} </div>
                              <p></p>
                              <!-- <input type="checkbox" class="form-check-input " 
                                    [checked]="isAllSelectedModule(module)"
                                    (change)="toggleAllModule(module, $any($event.target).checked)">
                                  <label class="form-check-label" >Tous</label> -->



                              <ng-container *ngFor="let action of sub.actions; trackBy:trackByAction">
                                <div class=" flex" style="display: inline-block;gap: 10px;">
                                  <div class="form-check  flex-column-inline  mb-2">
                                    <input type="checkbox" class="form-check-input mb-1" 
                                      [(ngModel)]="action.selected" (change)="onActionChange(sub, action)"
                                      [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label">{{
                                      extractAction(action.label)
                                      }}</label>
                                  </div>

                                </div>
                              </ng-container>


                            </label>
                          </div>
                        </ng-container>

                      </div>
                    </div>
                    }
                  </div>
                </div>

              </div>

            </div>
          </div>
          <!-- .// Accordion -->
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveRole()"
          [disabled]="!RoleForm.valid">Enregistrer</button>
      </div>
    </div>
  </div>
</div>