<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title">Roles & Permissions</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-3">
                <a href="javascript:void(0);" class="btn btn-primary btn-block" data-toggle="modal" data-target="#nouveauGroup"><i
                        class="fa fa-plus"></i> Add Roles</a>
                <div class="roles-menu">
                    <ul>
                        <li class="active" *ngFor="let role of roles">
                            <a (click)="onSelectRole(role)" href="javascript:void(0);">{{ role.name }}</a>
                            <!-- <span class="role-action">
                                <a href="edit-role.html">
                                    <span class="action-circle large">
                                        <i class="material-icons">edit</i>
                                    </span>
                                </a> &emsp;
                                <a href="#" data-toggle="modal" data-target="#delete_role">
                                    <span class="action-circle large delete-btn">
                                        <i class="material-icons">delete</i>
                                    </span>
                                </a>
                            </span> -->
                            <div class="">
                                                        <a href="" role="button" class="a-noline" data-toggle="modal" data-target="#ModifGroup">
                                                            <img src="assest/image/Icon/edit-icons.svg" alt="">
                                                        </a>&emsp;
                                                        <a href="" class="h6 text-danger a-noline">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                  </div>


                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-9">

                <!-- <div class="table-responsive">

                            <table class="table table-striped custom-table">
                                <thead>
                                    <tr>
                                        <th>Module Permission</th>
                                        <th class="text-center">Read</th>
                                        <th class="text-center">Write</th>
                                        <th class="text-center">Create</th>
                                        <th class="text-center">Delete</th>
                                        <th class="text-center">Import</th>
                                        <th class="text-center">Export</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Employee</td>
                                        <td class="text-center">
                                            <input type="checkbox" checked="">
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" checked="">
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" checked="">
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" checked="">
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" checked="">
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" checked="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Holidays</td>
                                        <td class="text-center">
                                            <input type="checkbox" checked="">
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" checked="">
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" checked="">
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" checked="">
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" checked="">
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" checked="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Leave Request</td>
                                        <td class="text-center">
                                            <input type="checkbox" checked="">
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" checked="">
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" checked="">
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" checked="">
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" checked="">
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" checked="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Events</td>
                                        <td class="text-center">
                                            <input type="checkbox" checked="">
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" checked="">
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" checked="">
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" checked="">
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" checked="">
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" checked="">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> -->

                        <div class="card-body histo-dash bg-white">
                                        <div class="mb-3">
                                             
                                              <!-- Accordeons questions -->
                                              <div class="accordion-perso-wrapper">
                                                <div class="accordion-perso mb-20">
                                                  <input type="radio" name="radio-a" class="input-accordeon" id="moduleGroupe" checked>
                                                  <label class="accordion-perso-label h5" for="moduleGroupe"> 
                                                    <div> Contrôle interne</div>
                                                        <div class="d-flex">
                                                            <div class="permission">
                                                                <input  type="checkbox" class="form-check-input" name="quest1-1">
                                                                <label class="permission">
                                                                 Tous
                                                                </label>
                                                              </div>&emsp;
                                                               <div class="permission">
                                                                <input  type="checkbox" class="form-check-input" name="quest1-1">
                                                                <label class="permission">
                                                                  Créer
                                                                </label>
                                                              </div>&emsp;
                                                              <div class="permission">
                                                                <input  type="checkbox" class="form-check-input" name="quest1-1">
                                                                <label class="permission" >
                                                                  Consulter
                                                                </label>
                                                              </div>&emsp;
                                                              <div class="permission ">
                                                                <input  type="checkbox" class="form-check-input" name="quest1-1" >
                                                                <label  class="permission">
                                                                  Modifier
                                                                </label>
                                                              </div>&emsp;
                                                              <div class="permission">
                                                                <input  type="checkbox" class="form-check-input" name="quest1-1">
                                                                <label class="permission" >
                                                                 Supprimer
                                                                </label>
                                                              </div>
                                                        </div>
                                                  </label> 
                                                  <div class="accordion-perso-content">
                                                        <div class="border d-flex justify-content-between rounded p-2 mb-20">
                                                            <div class="p-2"> Auto-Evaluation</div>
                                                           
                                                            <div class="d-flex">
                                                                <div class="permission">
                                                                    <input  type="checkbox"  name="quest1-1">
                                                                    <label class="permission">
                                                                    Tous
                                                                    </label>
                                                                </div>&emsp;
                                                                <div class="permission">
                                                                    <input  type="checkbox"  name="quest1-1">
                                                                    <label class="permission">
                                                                    Créer
                                                                    </label>
                                                                </div>&emsp;
                                                                <div class="permission">
                                                                    <input  type="checkbox" name="quest1-1">
                                                                    <label class="permission" >
                                                                    Consulter
                                                                    </label>
                                                                </div>&emsp;
                                                                <div class="permission ">
                                                                    <input  type="checkbox"  name="quest1-1" >
                                                                    <label  class="permission">
                                                                    Modifier
                                                                    </label>
                                                                </div>&emsp;
                                                                <div class="permission">
                                                                    <input  type="checkbox"  name="quest1-1">
                                                                    <label class="permission" >
                                                                    Supprimer
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            
                                                                
                                                        </div> 
                                                        <div class="border d-flex justify-content-between rounded p-2 mb-20">
                                                            <div class="p-2"> Diagnostic Flash</div>
                                                            
                                                            <div class="d-flex">
                                                                <div class="permission">
                                                                    <input  type="checkbox"  name="quest1-1">
                                                                    <label class="permission">
                                                                    Tous
                                                                    </label>
                                                                </div>&emsp;
                                                                <div class="permission">
                                                                    <input  type="checkbox" name="quest1-1">
                                                                    <label class="permission">
                                                                    Créer
                                                                    </label>
                                                                </div>&emsp;
                                                                <div class="permission">
                                                                    <input  type="checkbox"  name="quest1-1">
                                                                    <label class="permission" >
                                                                    Consulter
                                                                    </label>
                                                                </div>&emsp;
                                                                <div class="permission ">
                                                                    <input  type="checkbox"  name="quest1-1" >
                                                                    <label  class="permission">
                                                                    Modifier
                                                                    </label>
                                                                </div>&emsp;
                                                                <div class="permission">
                                                                    <input  type="checkbox"  name="quest1-1">
                                                                    <label class="permission" >
                                                                    Supprimer
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            
                                                                
                                                        </div>   
                                                
                                                  </div>
                                                </div>
                                                <div class="accordion-perso">
                                                  <input type="radio" name="radio-a" class="input-accordeon" id="moduleGroupe2">
                                                  <label class="accordion-perso-label h5" for="moduleGroupe2"> 
                                                    <div> Audit interne</div>
                                                    
                                                        <div class="d-flex">
                                                            <div class="permission">
                                                                <input  type="checkbox" class="form-check-input" name="quest1-1">
                                                                <label class="permission">
                                                                 Tous
                                                                </label>
                                                              </div>&emsp;
                                                               <div class="permission">
                                                                <input  type="checkbox" class="form-check-input" name="quest1-1">
                                                                <label class="permission">
                                                                  Créer
                                                                </label>
                                                              </div>&emsp;
                                                              <div class="permission">
                                                                <input  type="checkbox" class="form-check-input" name="quest1-1">
                                                                <label class="permission" >
                                                                  Consulter
                                                                </label>
                                                              </div>&emsp;
                                                              <div class="permission ">
                                                                <input  type="checkbox" class="form-check-input" name="quest1-1" >
                                                                <label  class="permission">
                                                                  Modifier
                                                                </label>
                                                              </div>&emsp;
                                                              <div class="permission">
                                                                <input  type="checkbox" class="form-check-input" name="quest1-1">
                                                                <label class="permission" >
                                                                 Supprimer
                                                                </label>
                                                              </div>
                                                        </div>
                                                    
                                                  </label> 
                                                  <div class="accordion-perso-content">
                                                    <div class="border d-flex justify-content-between rounded p-2 mb-20">
                                                        <div class="p-2"> Plan d'audit</div>
                                                       
                                                        <div class="d-flex">
                                                            <div class="permission">
                                                                <input  type="checkbox"  name="quest1-1">
                                                                <label class="permission">
                                                                Tous
                                                                </label>
                                                            </div>&emsp;
                                                            <div class="permission">
                                                                <input  type="checkbox"  name="quest1-1">
                                                                <label class="permission">
                                                                Créer
                                                                </label>
                                                            </div>&emsp;
                                                            <div class="permission">
                                                                <input  type="checkbox" name="quest1-1">
                                                                <label class="permission" >
                                                                Consulter
                                                                </label>
                                                            </div>&emsp;
                                                            <div class="permission ">
                                                                <input  type="checkbox"  name="quest1-1" >
                                                                <label  class="permission">
                                                                Modifier
                                                                </label>
                                                            </div>&emsp;
                                                            <div class="permission">
                                                                <input  type="checkbox"  name="quest1-1">
                                                                <label class="permission" >
                                                                Supprimer
                                                                </label>
                                                            </div>
                                                        </div>
                                                        
                                                            
                                                    </div> 
                                                    <div class="border d-flex justify-content-between rounded p-2 mb-20">
                                                        <div class="p-2"> Mission d'audit</div>
                                                        
                                                        <div class="d-flex">
                                                            <div class="permission">
                                                                <input  type="checkbox"  name="quest1-1">
                                                                <label class="permission">
                                                                Tous
                                                                </label>
                                                            </div>&emsp;
                                                            <div class="permission">
                                                                <input  type="checkbox" name="quest1-1">
                                                                <label class="permission">
                                                                Créer
                                                                </label>
                                                            </div>&emsp;
                                                            <div class="permission">
                                                                <input  type="checkbox"  name="quest1-1">
                                                                <label class="permission" >
                                                                Consulter
                                                                </label>
                                                            </div>&emsp;
                                                            <div class="permission ">
                                                                <input  type="checkbox"  name="quest1-1" >
                                                                <label  class="permission">
                                                                Modifier
                                                                </label>
                                                            </div>&emsp;
                                                            <div class="permission">
                                                                <input  type="checkbox"  name="quest1-1">
                                                                <label class="permission" >
                                                                Supprimer
                                                                </label>
                                                            </div>
                                                        </div>
                                                        
                                                            
                                                    </div>     
                                            
                                                  </div>
                                                </div>
                                               
                                              </div>
                                        
                                        </div>
                                        
                                    </div>

            </div>
        </div>
    </div>

</div>

<!-- modale ajout roles -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter un nouveau rôle</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="newRoleForm">
                    <!-- Nom du rôle -->
                    <div>
                        <label for="roleName">Nom du rôle</label>
                        <input id="roleName" formControlName="name" placeholder="Nom du rôle" />
                    </div>

                    <!-- Modules -->
                    <div>
                        <h4>permissions</h4>
                        <!-- <div *ngFor="let module of modules.controls; let i = index" [formGroupName]="i">
          <label>{{ module.get('name')?.value }}</label>
          <input type="checkbox" formControlName="access" /> Activer
          <div formGroupName="permission">
            <label><input type="checkbox" formControlName="read" /> Read</label>
            <label><input type="checkbox" formControlName="write" /> Write</label>
            <label><input type="checkbox" formControlName="create" /> Create</label>
            <label><input type="checkbox" formControlName="delete" /> Delete</label>
            <label><input type="checkbox" formControlName="import" /> Import</label>
            <label><input type="checkbox" formControlName="export" /> Export</label>
          </div>
        </div> -->
                        <button type="button" (click)="addModule('New Module')">Ajouter un module</button>
                    </div>

                    <!-- Bouton de soumission -->
                    <button type="submit" [disabled]="newRoleForm.invalid" (click)="addRole()">Créer le rôle</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Creer un nouveau groupe -->
<div class="modal fade" id="nouveauGroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4 font-weight-bold">Créer un groupe </h5>
                <button type="button" class="close circle" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-3">
                <form action="">
                    <div class="mb-3">
                        <label>Libele</label>
                        <input type="text" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <div class="h5 p-2">Affectation des modules et permission au groupe</div>
                        <!-- Accordeons questions -->
                        <div class="accordion-perso-wrapper">
                            <div class="accordion-perso mb-20">
                                <input type="radio" name="radio-a" class="input-accordeon" id="check11" checked>
                                <label class="accordion-perso-label h5" for="check11">
                                    <div> Contrôle interne</div>

                                    <div class="d-flex">
                                        <div class="permission">
                                            <input type="checkbox" class="form-check-input" name="quest1-1">
                                            <label class="permission">
                                                Tous
                                            </label>
                                        </div>&emsp;
                                        <div class="permission">
                                            <input type="checkbox" class="form-check-input" name="quest1-1">
                                            <label class="permission">
                                                Créer
                                            </label>
                                        </div>&emsp;
                                        <div class="permission">
                                            <input type="checkbox" class="form-check-input" name="quest1-1">
                                            <label class="permission">
                                                Consulter
                                            </label>
                                        </div>&emsp;
                                        <div class="permission ">
                                            <input type="checkbox" class="form-check-input" name="quest1-1">
                                            <label class="permission">
                                                Modifier
                                            </label>
                                        </div>&emsp;
                                        <div class="permission">
                                            <input type="checkbox" class="form-check-input" name="quest1-1">
                                            <label class="permission">
                                                Supprimer
                                            </label>
                                        </div>
                                    </div>

                                </label>
                                <div class="accordion-perso-content">
                                    <div class="border d-flex justify-content-between rounded p-2 mb-20">
                                        <div class="p-2"> Auto-Evaluation</div>

                                        <div class="d-flex">
                                            <div class="permission">
                                                <input type="checkbox" name="quest1-1">
                                                <label class="permission">
                                                    Tous
                                                </label>
                                            </div>&emsp;
                                            <div class="permission">
                                                <input type="checkbox" name="quest1-1">
                                                <label class="permission">
                                                    Créer
                                                </label>
                                            </div>&emsp;
                                            <div class="permission">
                                                <input type="checkbox" name="quest1-1">
                                                <label class="permission">
                                                    Consulter
                                                </label>
                                            </div>&emsp;
                                            <div class="permission ">
                                                <input type="checkbox" name="quest1-1">
                                                <label class="permission">
                                                    Modifier
                                                </label>
                                            </div>&emsp;
                                            <div class="permission">
                                                <input type="checkbox" name="quest1-1">
                                                <label class="permission">
                                                    Supprimer
                                                </label>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="border d-flex justify-content-between rounded p-2 mb-20">
                                        <div class="p-2"> Diagnostic Flash</div>

                                        <div class="d-flex">
                                            <div class="permission">
                                                <input type="checkbox" name="quest1-1">
                                                <label class="permission">
                                                    Tous
                                                </label>
                                            </div>&emsp;
                                            <div class="permission">
                                                <input type="checkbox" name="quest1-1">
                                                <label class="permission">
                                                    Créer
                                                </label>
                                            </div>&emsp;
                                            <div class="permission">
                                                <input type="checkbox" name="quest1-1">
                                                <label class="permission">
                                                    Consulter
                                                </label>
                                            </div>&emsp;
                                            <div class="permission ">
                                                <input type="checkbox" name="quest1-1">
                                                <label class="permission">
                                                    Modifier
                                                </label>
                                            </div>&emsp;
                                            <div class="permission">
                                                <input type="checkbox" name="quest1-1">
                                                <label class="permission">
                                                    Supprimer
                                                </label>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                            <div class="accordion-perso">
                                <input type="radio" name="radio-a" class="input-accordeon" id="check22">
                                <label class="accordion-perso-label h5" for="check22">
                                    <div> Audit interne</div>

                                    <div class="d-flex">
                                        <div class="permission">
                                            <input type="checkbox" class="form-check-input" name="quest1-1">
                                            <label class="permission">
                                                Tous
                                            </label>
                                        </div>&emsp;
                                        <div class="permission">
                                            <input type="checkbox" class="form-check-input" name="quest1-1">
                                            <label class="permission">
                                                Créer
                                            </label>
                                        </div>&emsp;
                                        <div class="permission">
                                            <input type="checkbox" class="form-check-input" name="quest1-1">
                                            <label class="permission">
                                                Consulter
                                            </label>
                                        </div>&emsp;
                                        <div class="permission ">
                                            <input type="checkbox" class="form-check-input" name="quest1-1">
                                            <label class="permission">
                                                Modifier
                                            </label>
                                        </div>&emsp;
                                        <div class="permission">
                                            <input type="checkbox" class="form-check-input" name="quest1-1">
                                            <label class="permission">
                                                Supprimer
                                            </label>
                                        </div>
                                    </div>

                                </label>
                                <div class="accordion-perso-content">
                                    <div class="border d-flex justify-content-between rounded p-2 mb-20">
                                        <div class="p-2"> Plan d'audit</div>

                                        <div class="d-flex">
                                            <div class="permission">
                                                <input type="checkbox" name="quest1-1">
                                                <label class="permission">
                                                    Tous
                                                </label>
                                            </div>&emsp;
                                            <div class="permission">
                                                <input type="checkbox" name="quest1-1">
                                                <label class="permission">
                                                    Créer
                                                </label>
                                            </div>&emsp;
                                            <div class="permission">
                                                <input type="checkbox" name="quest1-1">
                                                <label class="permission">
                                                    Consulter
                                                </label>
                                            </div>&emsp;
                                            <div class="permission ">
                                                <input type="checkbox" name="quest1-1">
                                                <label class="permission">
                                                    Modifier
                                                </label>
                                            </div>&emsp;
                                            <div class="permission">
                                                <input type="checkbox" name="quest1-1">
                                                <label class="permission">
                                                    Supprimer
                                                </label>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="border d-flex justify-content-between rounded p-2 mb-20">
                                        <div class="p-2"> Mission d'audit</div>

                                        <div class="d-flex">
                                            <div class="permission">
                                                <input type="checkbox" name="quest1-1">
                                                <label class="permission">
                                                    Tous
                                                </label>
                                            </div>&emsp;
                                            <div class="permission">
                                                <input type="checkbox" name="quest1-1">
                                                <label class="permission">
                                                    Créer
                                                </label>
                                            </div>&emsp;
                                            <div class="permission">
                                                <input type="checkbox" name="quest1-1">
                                                <label class="permission">
                                                    Consulter
                                                </label>
                                            </div>&emsp;
                                            <div class="permission ">
                                                <input type="checkbox" name="quest1-1">
                                                <label class="permission">
                                                    Modifier
                                                </label>
                                            </div>&emsp;
                                            <div class="permission">
                                                <input type="checkbox" name="quest1-1">
                                                <label class="permission">
                                                    Supprimer
                                                </label>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                    </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-block" data-toggle="modal"
                    data-target="#modalvalidation" class="close" data-dismiss="modal" aria-label="Close">Créer</button>
            </div>
            
        </div>
    </div>
</div>