<div id="delete_patient" class="modal delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="assets/img/sent.png" alt="" width="50" height="46">
                <h3>Are you sure want to delete this {{ itemName }}?</h3>
                <div class="m-t-20"> 
                    <a href="javascript(void)" class="btn btn-white"(click)="closeModal()" data-dismiss="modal">Close</a>
                    <button type="submit" (click)="confirm()" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>