
 <div class="modal-backdrop" *ngIf="message">
 <!-- Modal -->
  <div class="modal show d-block"  tabindex="-1" role="dialog" aria-labelledby="modalWarning" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
  
        <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
               <img src="assets/img/warning.png" alt="" width=50%/>
            </div>
            <div class="col-sm-6 align-self-center"> 
              <h3>  {{ title }}</h3>
              <p>{{ message }}</p>
            </div>          
          </div>  

          <div class="row justify-content-end">
            <div class="col-auto"> 
              <button type="button " class="btn btn-danger" (click)="onClose()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">Fermer</span>
          </button>
            </div>          
          </div>  
        </div>
        
        </div>
  
      </div>
    </div>
  </div>
 </div>

  
  
  
