<!-- Modal de suppression -->
<app-delete-modal
  *ngIf="deleteModal"
  [itemName]="deleteModal?.itemName"
  [message]="successModalData?.message"
  (confirmDelete)="modalService.closeModal()"
  (cancelDelete)="closeDelete()">
</app-delete-modal>

<!-- Modal de succès -->
<app-success-modal
  *ngIf="successModalData"
  [message]="successModalData?.message"
  (closeSuccessModal)="closeSuccessModal()"
  (afterClose)="onSuccessModalClosed()">
</app-success-modal>

<!-- Modal de warning -->
<app-warning-modal
  *ngIf="showWarningModal"
  [message]="message"
  [title]="title"
  (close)="closeWarningModal()">
</app-warning-modal>
