<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-8 col-5">
                <h4 class="page-title">Type de congé</h4>
            </div>
            <div class="col-sm-4 col-7 text-right m-b-30">
                <a href="javascript:void(0);" class="btn btn-primary btn-rounded float-right" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus"></i> Ajouter un type de congé</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table">
                        <thead>
                            <tr>

                                <th>Type de congé</th>
                                <th>Nombre de jours</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="leaveTypes && leaveTypes.length > 0">
                            <tr *ngFor="let type of leaveTypes">

                                <td>{{ type.leaveType }}</td>
                                <td>{{ type.leaveDays }}</td>
                                <td>{{ type.description }}</td>
                                <td>
                                    <div class="dropdown action-label" *ngIf="type.status===EntityStatus.ACTIVE">
                                        <a class="custom-badge status-green dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                                            Active
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                          <a href="javascript:void(0);" (click)="selectStatus(EntityStatus.INACTIVE,type)" class="dropdown-item">Inactive</a>
                                        </div>
                                    </div>

                                  <div class="dropdown action-label" *ngIf="type.status===EntityStatus.INACTIVE">
                                    <a class="custom-badge status-red dropdown-toggle" href="#" data-toggle="dropdown"  aria-expanded="false" >
                                      Inactive
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                      <a href="javascript:void(0);" (click)="selectStatus(EntityStatus.ACTIVE,type)" class="dropdown-item">Active</a>
                                    </div>
                                  </div>


                                </td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:void(0);" (click)="openUpdateModal(type)" data-toggle="modal" data-target="#updateModal" ><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" href="javascript:void(0);" (click)="confirmDeleteLeaveType(type)"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                      <tbody *ngIf="!leaveTypes || leaveTypes.length === 0">
                      <tr>
                        <td colspan="4" class="text-center">Aucune donnée</td>
                      </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<!-- Pagination -->
  <app-pagination
    [totalItems]="totalItems"
    [itemsPerPage]="itemsPerPage"
    [currentPage]="currentPage"
    [pageSizeOptions]="[10, 25, 50, 100]"
    [showPageSizeSelector]="true"
    [showFirstLastButtons]="true"
    (pageChange)="onPageChange($event)"
    (pageSizeChange)="onPageSizeChange($event)">
  </app-pagination>
</div>










<!-- Add LeaveType Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-s">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter un type de congé </h1>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="leaveTypeForm">
          <div class="form-group">
            <label for="exampleInputEmail1">Type de congé</label>
            <input type="text" class="form-control floating" required name="ng-container" formControlName="LeaveType"
                   placeholder="Ex: ADMIN">
            <div *ngIf="f['LeaveType'].touched && f['LeaveType'].invalid" class="text-danger mt-1">
              <div *ngIf="f['LeaveType'].errors?.['required']">Le Type de congé est requis.</div>

            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Nombre de jours</label>
            <input id="roleDesc" type="number" min="1" oninput="if(this.value < 0) this.value = 1;" onkeydown="if(event.key === '-' || event.key === 'e') event.preventDefault();" class="form-control floating"  formControlName="leaveDays">
            <div *ngIf="f['leaveDays'].touched && f['leaveDays'].invalid" class="text-danger mt-1">
              <div *ngIf="f['leaveDays'].errors?.['required']">La Nombre de jours est requise.</div>

            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Description</label>
            <input  type="text" maxlength="255" class="form-control floating"  formControlName="description">
            <div *ngIf="f['description'].touched && f['description'].invalid" class="text-danger mt-1">
              <div *ngIf="f['description'].errors?.['required']">La description est requise.</div>

            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveLeaveType()"
                [disabled]="!leaveTypeForm.valid">Enregistrer</button>
      </div>
    </div>
  </div>
</div>


<!-- Update LeaveType Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-s">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modifier un type de congé </h1>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateleaveTypeForm">
          <div class="form-group">
            <label for="exampleInputEmail1">Type de congé</label>
            <input type="text" class="form-control floating" required name="ng-container" formControlName="LeaveType"
                   placeholder="Ex: ADMIN">
            <div *ngIf="u['LeaveType'].touched && u['LeaveType'].invalid" class="text-danger mt-1">
              <div *ngIf="u['LeaveType'].errors?.['required']">Le Type de congé est requis.</div>

            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Nombre de jours</label>
            <input id="roleDesc" type="number" min="1" oninput="if(this.value < 0) this.value = 1;" onkeydown="if(event.key === '-' || event.key === 'e') event.preventDefault();" class="form-control floating"  formControlName="leaveDays">
            <div *ngIf="u['leaveDays'].touched && u['leaveDays'].invalid" class="text-danger mt-1">
              <div *ngIf="u['leaveDays'].errors?.['required']">La Nombre de jours est requise.</div>

            </div>
          </div>

            <div class="form-group">
            <label for="exampleInputPassword1">Description</label>
            <input  type="text" maxlength="255" class="form-control floating"  formControlName="description">
            <div *ngIf="u['description'].touched && u['description'].invalid" class="text-danger mt-1">
              <div *ngIf="u['description'].errors?.['required']">La description est requise.</div>

            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="updateLeave()"
                [disabled]="!updateleaveTypeForm.valid">Enregistrer</button>
      </div>
    </div>
  </div>
</div>
