<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-5 col-5">
                <h4 class="page-title">Services</h4>
            </div>
            <div class="col-sm-7 col-7 text-right m-b-30">
                <a href="javascript:void(0);" data-toggle="modal" data-target="#exampleModal"
                    class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Ajouter un service</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table mb-0 datatable">
                        <thead>
                            <tr>
                                
                                <th>Nom</th>
                                <th>Description</th>
                                <th class="text-right">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let s of services; let i = index">
                                <td>{{s.name}}</td>
                                <td>{{s.description}}</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                            aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal"
                        data-target="#updateModal" (click)=" openUpdateModal(s)"><i
                                                    class="fa fa-pencil m-r-5"></i> Modifier</a>
                                            <a class="dropdown-item" href="javascript:void(0);" (click)="confirmDeleteLeaveType(s)" ><i class="fa fa-trash-o m-r-5"></i>
                                                Supprimer</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                        <tbody *ngIf="!services || services.length === 0">
                            <tr>
                                <td colspan="7" class="text-center">Aucune donnée</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>







<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter un service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="serviceForm">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="form-group">
                                <label> Nom du service</label>
                                <input class="form-control" type="text" formControlName="name">
                                <div *ngIf="f['name'].touched && f['name'].invalid" class="text-danger mt-1">
                                    <div *ngIf="f['name'].errors?.['required']">Le motif du congé est requis.</div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea cols="30" rows="4" class="form-control"
                                    formControlName="description"></textarea>
                                <div *ngIf="f['description'].touched && f['description'].invalid"
                                    class="text-danger mt-1">
                                    <div *ngIf="f['description'].errors?.['required']">La description est requis.
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                
                                    <label class="display-block">Département</label>
                                    <select class=" form-control" formControlName="departement">
                                        <option [value]="">-- Select -- </option>
                                        <option *ngFor="let dep of departments" [value]="dep.id">{{ dep.name }}</option>
                                    </select>
                                    <div *ngIf="f['departement'].touched && f['departement'].invalid"
                                        class="text-danger mt-1">
                                        <div *ngIf="f['departement'].errors?.['required']">Le département est requis.
                                        </div>

                                    </div>
                                
                            </div>
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn" [disabled]="serviceForm.invalid" (click)="create()">Enregistrer</button>
                            </div>

                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<div class="modal" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mettre à jour un service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="updateServiceForm">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="form-group">
                                <label> Nom du service</label>
                                <input class="form-control" type="text" formControlName="name">
                                <div *ngIf="u['name'].touched && u['name'].invalid" class="text-danger mt-1">
                                    <div *ngIf="u['name'].errors?.['required']">Le motif du congé est requis.</div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea cols="30" rows="4" class="form-control"
                                    formControlName="description"></textarea>
                                <div *ngIf="u['description'].touched && u['description'].invalid"
                                    class="text-danger mt-1">
                                    <div *ngIf="u['description'].errors?.['required']">La description est requis.
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                
                                    <label class="display-block">Département</label>
                                    <select class=" form-control" formControlName="departement">
                                        <option [value]="">-- Select -- </option>
                                        <option *ngFor="let dep of departments" [value]="dep.id">{{ dep.name }}</option>
                                    </select>
                                    <div *ngIf="u['departement'].touched && u['departement'].invalid"
                                        class="text-danger mt-1">
                                        <div *ngIf="u['departement'].errors?.['required']">Le département est requis.
                                        </div>

                                    </div>
                                
                            </div>
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn" [disabled]="updateServiceForm.invalid" (click)="update()">Enregistrer</button>
                            </div>

                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>