<!-- Page Content -->
<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-8 offset-md-2">

        <!-- Account Content -->
        <div class="account-content">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 col-lg-6 login-left">
              <img src="assets/img/login-banner.png" class="img-fluid" alt="Login Banner">
            </div>
            <div class="col-md-12 col-lg-6 login-right">
              <div class="login-header">
                <h3>Forgot Password?</h3>
                <p class="small text-muted">Enter your email to get a password reset link</p>
              </div>

              <!-- Forgot Password Form 
              <form [formGroup]="forgotform" (ngSubmit)="onSubmit()">
                <div class="form-group form-focus">
                  <input type="email" class="form-control floating" formControlName="email">
                  <label class="focus-label">Email</label>
                  <div *ngIf="f['email'].touched && f['email'].invalid && f['email'].dirty"
                       class="alert alert-danger">
                    <div *ngIf="f['email'].errors && f['email'].errors['required']">email is
                      required.</div>
                    <div *ngIf="f['email'].errors && f['email'].errors['minlength']">email should be
                      2 character.</div>
                  </div>
                </div>
                <div class="text-right">
                  <a class="forgot-link" [routerLink]="['/login']">Remember your password?</a>
                </div>
                <button class="btn btn-primary btn-block btn-lg login-btn" type="submit"
                        [disabled]="!forgotform.valid">Reset Password</button>
              </form>  -->
              <!-- /Forgot Password Form -->

            </div>
          </div>
        </div>
        <!-- /Account Content -->

      </div>
    </div>

  </div>

</div>
<!-- /Page Content -->

<!--<div class="page-auth">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <h3 style="display: block;align-content: center;max-width: 100px;margin-left: auto;margin-right: auto;"><span class="icon iconfont-center iconfont-block"></span></h3>
                <h1 class="page-auth__heading">Forgot your password</h1>
                <p class="page-login__description">Enter your e-mail address and we'll send you a link to reset your password.</p>
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <form [formGroup]="forgotform"  (ngSubmit)="onSubmit()" class="page-auth__form form-controls-flat">
                            <div class="form-group">
                                <label for="email">Send password reset email to</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email address" formControlName="email">
                        <div *ngIf="f['email'].touched && f['email'].invalid && f['email'].dirty"
                             class="alert alert-danger">
                                <div *ngIf="f['email'].errors && f['email'].errors['required']">email is required.</div>
                                <div *ngIf="f['email'].errors && f['email'].errors['minlength']">email should be 2 character.</div>
                        </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" [disabled]="!forgotform.valid"  class="btn btn-primary page-auth__submit-btn">Reset your password</button>
                                <a [routerLink]="['/login']" class="page-auth__form-link">Return to log in</a>
                            </div>
                        </form>
                        <div class="form-group">
                            <a [routerLink]="['/login']" class="page-auth__form-link" style="margin-left: 0px;margin-right: 150px;">Return to log in</a>
                            <a [routerLink]="['/register']" class="page-auth__form-link" style="margin-left: 150px;margin-right: auto;">Return to Register</a>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate-multiple" [fullScreen] = "true" >
    <p style="color: white" > Opération en cours ... </p>
</ngx-spinner>
-->
