
  <!-- Modal -->
   <div class="modal-backdrop" *ngIf="message">
 <div class="modal show d-block"  tabindex="-1" role="dialog" aria-labelledby="modalSuccess" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
           
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
               <img src="assets/img/check.png" alt="" width=50%/>
            </div>
            <div class="col-sm-6 "> 
              <h3>  {{ message }} </h3>
              
            </div>       
          </div>  

          <div class="row justify-content-end">
             <div class="col-auto">
             <button type="button" class="btn btn-success" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">Ok</span>
            
          </button>      
            </div>      
          </div>  
        </div>
        
        </div>
  
      </div>
    </div>
  </div>
   </div>
 
  
  
  
